@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>
    <p>
        Phần mềm được phát triển theo yêu cầu đồ án môn học dưới sự hướng dẫn của thầy Cao Thái Phương Thanh.
    </p>

    <p>
        Phần mềm hoạt động chưa ổn định vì thời gian test và thành viên nhóm ít tuy nhiên nhóm rất mong các bạn sử dụng phản hồi những góp ý chân thành về nhóm thông qua hộp mail vu111293@gmail.com hoặc liên hệ số điện thoại 0979 742 138
    </p>

    <h5>Chúng tôi xin chân thành cảm ơn!</h5>
        

</article>
