/Tuan/T4Room-master/packages
/Tuan/T4Room-master/RoomM.ConsoleApp/bin
/Tuan/T4Room-master/RoomM.ConsoleApp/obj
/Tuan/T4Room-master/RoomM.DeskApp/bin
/Tuan/T4Room-master/RoomM.DeskApp/obj
/Tuan/T4Room-master/RoomM.Models/bin
/Tuan/T4Room-master/RoomM.Models/obj
/Tuan/T4Room-master/RoomM.Repositories/bin
/Tuan/T4Room-master/RoomM.Repositories/obj
/Tuan/T4Room-master/RoomM.WebApp/bin
/Tuan/T4Room-master/RoomM.WebApp/obj
/Tuan/T4Room-master/RoomM.WebService/bin
/Tuan/T4Room-master/RoomM.WebService/obj
/Tuan/T4Room-master/RoomM.WebServiceTest/bin
/Tuan/T4Room-master/RoomM.WebServiceTest/obj
/Tuan/T4Room-master/WcfHost/bin
/Tuan/T4Room-master/WcfHost/obj
/RoomM.DeskApp/bin/*
/RoomM.DeskApp/obj
/RoomM.DeskAppClient/bin
/RoomM.DeskAppClient/obj
/RoomM.Models/bin
/RoomM.Models/obj
/RoomM.Repositories/bin
/RoomM.Repositories/obj
/RoomM.WebApp/bin
/RoomM.WebApp/obj
/RoomM.WebAppClient/bin
/RoomM.WebAppClient/obj
/RoomM.WebService/bin
/RoomM.WebService/obj
/RoomM.WebServiceTest/bin
/RoomM.WebServiceTest/obj
/Tuan/T4Room-master/packages/repositories.config
/packages
!/RoomM.DeskApp/bin/Debug/
/RoomM.DeskApp/bin/Debug/*
!/RoomM.DeskApp/bin/Debug/templates/
/RoomM.Application/bin
/RoomM.Application/obj
/RoomM.Domain/bin
/RoomM.Domain/obj
/RoomM.Infrastructure.Data/bin
/RoomM.Infrastructure.Data/obj
/RoomM.WebAppOld/bin
/RoomM.WebAppOld/obj
/.vs
/RoomM.WSSelfHosting/bin
/RoomM.WSSelfHosting/obj
