<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RoomM.DeskApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <add name="RoomDB" connectionString="data source=TIENTQ;initial catalog=room_mgr;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <userSettings>
    <RoomM.DeskApp.Properties.Settings>
      <setting name="BkgColor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="gmail" serializeAs="String">
        <value />
      </setting>
    </RoomM.DeskApp.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IStaffService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IStaffTypeService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IRoomService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IRoomAssetService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IRoomTypeService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IRoomCalenderService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IRoomCalendarStatusService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IAssetService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IRoomAssetHistoryService">
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IRoomAssetHistoryTypeService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8282/Rooms/Implement/StaffService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IStaffService"
        contract="StaffService.IStaffService" name="NetTcpBinding_IStaffService" />
      <endpoint address="net.tcp://localhost:8282/Staffs/Implement/StaffTypeService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IStaffTypeService"
        contract="StaffTypeService.IStaffTypeService" name="NetTcpBinding_IStaffTypeService" />
      <endpoint address="net.tcp://localhost:8282/Rooms/Implement/RoomService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoomService"
        contract="RoomService.IRoomService" name="NetTcpBinding_IRoomService" />
      <endpoint address="net.tcp://localhost:8282/Rooms/Implement/RoomAssetService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoomAssetService"
        contract="RoomAssetService.IRoomAssetService" name="NetTcpBinding_IRoomAssetService" />
      <endpoint address="net.tcp://localhost:8282/Rooms/Implement/RoomTypeService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoomTypeService"
        contract="RoomTypeService.IRoomTypeService" name="NetTcpBinding_IRoomTypeService" />
      <endpoint address="net.tcp://localhost:8282/Rooms/Implement/RoomCalenderService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoomCalenderService"
        contract="RoomCalenderService.IRoomCalenderService" name="NetTcpBinding_IRoomCalenderService" />
      <endpoint address="net.tcp://localhost:8282/Rooms/Implement/RoomCalendarStatusService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoomCalendarStatusService"
        contract="RoomCalendarStatusService.IRoomCalendarStatusService"
        name="NetTcpBinding_IRoomCalendarStatusService" />
      <endpoint address="net.tcp://localhost:8282/Assets/Implement/AssetService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAssetService"
        contract="AssetService.IAssetService" name="NetTcpBinding_IAssetService" />
      <endpoint address="net.tcp://localhost:8282/Assets/Implement/RoomAssetHistoryService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoomAssetHistoryService"
        contract="RoomAssetHistoryService.IRoomAssetHistoryService"
        name="NetTcpBinding_IRoomAssetHistoryService" />
      <endpoint address="net.tcp://localhost:8282/Assets/Implement/RoomAssetHistoryTypeService"
        binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoomAssetHistoryTypeService"
        contract="RoomAssetHistoryTypeService.IRoomAssetHistoryTypeService"
        name="NetTcpBinding_IRoomAssetHistoryTypeService" />
    </client>
  </system.serviceModel>
</configuration>