<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="RoomM.DeskApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --><!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 --></configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <RoomM.DeskApp.Properties.Settings>
      <setting name="BkgColor" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="gmail" serializeAs="String">
        <value />
      </setting>
    </RoomM.DeskApp.Properties.Settings>
  </userSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IRoomAssetHistoryService" />
        <binding name="BasicHttpBinding_IAssetService" />
        <binding name="BasicHttpBinding_IRoomAssetHistoryTypeService" />
        <binding name="BasicHttpBinding_IRoomAssetService" />
        <binding name="BasicHttpBinding_IRoomCalendarStatusService" />
        <binding name="BasicHttpBinding_IRoomCalenderService" />
        <binding name="BasicHttpBinding_IRoomService" />
        <binding name="BasicHttpBinding_IRoomTypeService" />
        <binding name="BasicHttpBinding_IStaffTypeService" />
        <binding name="BasicHttpBinding_IStaffService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:62978/Assets/Implement/RoomAssetHistoryService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomAssetHistoryService"
        contract="RoomAssetHistoryService.IRoomAssetHistoryService"
        name="BasicHttpBinding_IRoomAssetHistoryService" />
      <endpoint address="http://localhost:62978/Assets/Implement/AssetService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAssetService"
        contract="AssetService.IAssetService" name="BasicHttpBinding_IAssetService" />
      <endpoint address="http://localhost:62978/Assets/Implement/RoomAssetHistoryTypeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomAssetHistoryTypeService"
        contract="RoomAssetHistoryTypeService.IRoomAssetHistoryTypeService"
        name="BasicHttpBinding_IRoomAssetHistoryTypeService" />
      <endpoint address="http://localhost:62978/Rooms/Implement/RoomAssetService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomAssetService"
        contract="RoomAssetService.IRoomAssetService" name="BasicHttpBinding_IRoomAssetService" />
      <endpoint address="http://localhost:62978/Rooms/Implement/RoomCalendarStatusService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomCalendarStatusService"
        contract="RoomCalendarStatusService.IRoomCalendarStatusService"
        name="BasicHttpBinding_IRoomCalendarStatusService" />
      <endpoint address="http://localhost:62978/Rooms/Implement/RoomCalenderService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomCalenderService"
        contract="RoomCalenderService.IRoomCalenderService" name="BasicHttpBinding_IRoomCalenderService" />
      <endpoint address="http://localhost:62978/Rooms/Implement/RoomService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomService"
        contract="RoomService.IRoomService" name="BasicHttpBinding_IRoomService" />
      <endpoint address="http://localhost:62978/Rooms/Implement/RoomTypeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomTypeService"
        contract="RoomTypeService.IRoomTypeService" name="BasicHttpBinding_IRoomTypeService" />
      <endpoint address="http://localhost:62978/Staffs/Implement/StaffTypeService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStaffTypeService"
        contract="StaffTypeService.IStaffTypeService" name="BasicHttpBinding_IStaffTypeService" />
      <endpoint address="http://localhost:62978/Staffs/Implement/StaffService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStaffService"
        contract="StaffService.IStaffService" name="BasicHttpBinding_IStaffService" />
    </client>
  </system.serviceModel>
</configuration>