<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="RoomDB" connectionString="data source=TUAN-PC\SQLEXPRESS;initial catalog=room_mgr;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
            <behavior name="ServiceMEXBehavior" >
              
              <serviceMetadata httpGetEnabled="true" />                    
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <netTcpBinding>
        <binding>
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    </bindings>
    <!--<bindings>
      <basicHttpBinding>
        <binding>
          <security mode="TransportWithMessageCredential">
            <transport/>
            <message clientCredentialType="UserName"/>
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>-->
    <services>
      <service name="RoomM.WebService.RoomService"
               behaviorConfiguration= "ServiceMEXBehavior">

        <!--<endpoint address="RoomService"
                  binding="basicHttpBinding"
                  contract="RoomM.WebService.IRoomService"
                  >
          
        </endpoint>-->

        <endpoint address=""
                  binding="netTcpBinding"
                  contract="RoomM.WebService.IRoomService">
          <identity>
            <!--<rsa value="&lt;RSAKeyValue&gt;&lt;Modulus&gt;wZor3G/IWG4ddYalaA7ge85idstt9H/2+HvuD+sl7SiroVHWHCKnPJgH6KyDOFliRFRniVavbBRMKqy+UconfIzE0cDy7wP8f8L49YLQ9RlifmlIdqaonohi+zFk3qRwEASIm1MYDqwDs9I/V4YNIgxWEnHWFI3qiN8mSAwu1m8=&lt;/Modulus&gt;&lt;Exponent&gt;AQAB&lt;/Exponent&gt;&lt;/RSAKeyValue&gt;" />-->
            <dns value="consoto.com"/>
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"/>
        
        <host>
          <baseAddresses>
              <add baseAddress="http://localhost:62978/Rooms/Implement/RoomService" />         
            <add baseAddress="net.tcp://localhost:8282/Rooms/Implement/RoomService"/>
          </baseAddresses>
        </host>
      </service>
      
        <service name="RoomM.WebService.StaffService" behaviorConfiguration="ServiceMEXBehavior">
          <endpoint address="StaffService" binding="basicHttpBinding" contract="RoomM.WebService.IStaffService"/>
          <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IStaffService"/>
          <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
          <host>
            <baseAddresses>
              <add baseAddress="http://localhost:62978/Staffs/Implement/StaffService"/>
              <add baseAddress="net.tcp://localhost:8282/Staffs/Implement/StaffService"/>
            </baseAddresses>
          </host>
        </service>
      
    </services>
    <!--<protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>-->
      <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    
        <!--To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.-->
      
    <directoryBrowse enabled="true" />
  </system.webServer>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>