<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <system.serviceModel>
    
    <behaviors>      
      <serviceBehaviors>
        <behavior name="ServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
        <behavior name="StaffTypeService.MEXBehavior">
          <serviceMetadata httpGetEnabled="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    
    <bindings>
      
      <netTcpBinding>
        <binding>
          <security mode="None"></security>
        </binding>
      </netTcpBinding>
    
    <basicHttpBinding>
      <binding>
        <security mode="None"/>
      </binding>
    </basicHttpBinding>
    </bindings>
                                        <!--Register of StaffService, StaffTypeService-->
    <services>
      <service name="RoomM.WebService.StaffService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="StaffService" binding="basicHttpBinding" contract="RoomM.WebService.IStaffService"/>
        <endpoint address="net.tcp://localhost:8282/Staffs/Implement/StaffService" 
                  binding="netTcpBinding" contract="RoomM.WebService.IStaffService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:62978/Staffs/Implement/StaffService"/>            
          </baseAddresses>
        </host>
      </service>
      
      <service name="RoomM.WebService.StaffTypeService" behaviorConfiguration="StaffTypeService.MEXBehavior">
        <endpoint address="StaffTypeService" binding="basicHttpBinding" contract="RoomM.WebService.IStaffTypeService"/>
        <endpoint address="net.tcp://localhost:8484/Staffs/Implement/StaffTypeService"
                  binding="netTcpBinding" contract="RoomM.WebService.IStaffTypeService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:62979/Staffs/Implement/StaffTypeService"/>
          </baseAddresses>
        </host>
      </service>
  
                              <!-- Register of RoomService, RoomTypeService, RoomAssetService, RoomCalendarStatusService, RoomCalendarService-->
      <service name="RoomM.WebService.RoomService" behaviorConfiguration="ServiceMEXBehavior">       
        <endpoint address="RoomService"
                  binding="basicHttpBinding"
                  contract="RoomM.WebService.IRoomService"
                  />                         
        <endpoint address="net.tcp://localhost:8282/Rooms/Implement/RoomService" 
                  binding="netTcpBinding" contract="RoomM.WebService.IRoomService"/>                
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>            
            <add baseAddress="http://localhost:62978/Rooms/Implement/RoomService" />          
          </baseAddresses>
        </host>
      </service>

      <!--<service name="RoomM.WebService.RoomAssetService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="RoomAssetService"
                  binding="basicHttpBinding"
                  contract="RoomM.WebService.IRoomAssetService"
                  />
        <endpoint address="net.tcp://localhost:8282/Rooms/Implement/RoomAssetService"
                  binding="netTcpBinding" contract="RoomM.WebService.IRoomAssetService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:62978/Rooms/Implement/RoomAssetService" />
          </baseAddresses>
        </host>
      </service>

      <service name="RoomM.WebService.RoomTypeService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="RoomTypeService"
                  binding="basicHttpBinding"
                  contract="RoomM.WebService.IRoomTypeService"
                  />
        <endpoint address="net.tcp://localhost:8282/Rooms/Implement/RoomTypeService"
                  binding="netTcpBinding" contract="RoomM.WebService.IRoomTypeService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:62978/Rooms/Implement/RoomTypeService" />
          </baseAddresses>
        </host>
      </service>
      
      <service name="RoomM.WebService.RoomCalenderService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="RoomCalenderService"
                  binding="basicHttpBinding"
                  contract="RoomM.WebService.IRoomCalenderService"
                  />
        <endpoint address="net.tcp://localhost:8282/Rooms/Implement/RoomCalenderService"
                  binding="netTcpBinding" contract="RoomM.WebService.IRoomCalenderService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:62978/Rooms/Implement/RoomCalenderService" />
          </baseAddresses>
        </host>
      </service>

      <service name="RoomM.WebService.RoomCalendarStatusService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="RoomCalendarStatusService"
                  binding="basicHttpBinding"
                  contract="RoomM.WebService.IRoomCalendarStatusService"
                  />
        <endpoint address="net.tcp://localhost:8282/Rooms/Implement/RoomCalendarStatusService"
                  binding="netTcpBinding" contract="RoomM.WebService.IRoomCalendarStatusService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:62978/Rooms/Implement/RoomCalendarStatusService" />
          </baseAddresses>
        </host>
      </service>-->
      <!-- Register of assets-->
      <!--<service name="RoomM.WebService.AssetService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="AssetService"
                  binding="basicHttpBinding"
                  contract="RoomM.WebService.IAssetService"
                  />
        <endpoint address="net.tcp://localhost:8282/Assets/Implement/AssetService"
                  binding="netTcpBinding" contract="RoomM.WebService.IAssetService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:62978/Assets/Implement/AssetService" />
          </baseAddresses>
        </host>
      </service>
      
      <service name="RoomM.WebService.RoomAssetHistoryService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="RoomAssetHistoryService"
                  binding="basicHttpBinding"
                  contract="RoomM.WebService.IRoomAssetHistoryService"
                  />
        <endpoint address="net.tcp://localhost:8282/Assets/Implement/RoomAssetHistoryService"
                  binding="netTcpBinding" contract="RoomM.WebService.IRoomAssetHistoryService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:62978/Assets/Implement/RoomAssetHistoryService" />
          </baseAddresses>
        </host>
      </service>

      <service name="RoomM.WebService.RoomAssetHistoryTypeService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="RoomAssetHistoryTypeService"
                  binding="basicHttpBinding"
                  contract="RoomM.WebService.IRoomAssetHistoryTypeService"
                  />
        <endpoint address="net.tcp://localhost:8282/Assets/Implement/RoomAssetHistoryTypeService"
                  binding="netTcpBinding" contract="RoomM.WebService.IRoomAssetHistoryTypeService"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:62978/Assets/Implement/RoomAssetHistoryTypeService" />
          </baseAddresses>
        </host>
      </service>-->
    </services>
   
  </system.serviceModel>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
    <add name="RoomDB" connectionString="data source=TUAN-PC\SQLEXPRESS;initial catalog=room_mgr;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>