<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRoomService" />
                <binding name="BasicHttpBinding_IRoomTypeService" />
                <binding name="BasicHttpBinding_IStaffTypeService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62978/Rooms/Implement/RoomService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomService"
                contract="RoomService.IRoomService" name="BasicHttpBinding_IRoomService" />
            <endpoint address="http://localhost:62978/Rooms/Implement/RoomTypeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomTypeService"
                contract="RoomTypeService.IRoomTypeService" name="BasicHttpBinding_IRoomTypeService" />
            <endpoint address="http://localhost:62978/Staffs/Implement/StaffTypeService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IStaffTypeService"
                contract="StaffTypeService.IStaffTypeService" name="BasicHttpBinding_IStaffTypeService" />
        </client>
    </system.serviceModel>
</configuration>