<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRoomService" />
                <binding name="BasicHttpBinding_IAssetService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:62978/Rooms/Implement/RoomService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRoomService"
                contract="RoomService.IRoomService" name="BasicHttpBinding_IRoomService" />
            <endpoint address="http://localhost:62978/Assets/Implement/AssetService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IAssetService"
                contract="AssetService.IAssetService" name="BasicHttpBinding_IAssetService" />
        </client>
    </system.serviceModel>
</configuration>