@{
    ViewBag.Title = "Contact";
}

<hgroup class="title">
    <h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
    <header>
        <h3>Điện thoại</h3>
    </header>
    <p>
        <span>0122 813 4366</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Hỗ trợ:</span>
        <span><a href="mailto:tanquoctien@gmail.com">tanquoctien@gmail.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Địa chỉ</h3>
    </header>
    <p>
        TP.HCM
    </p>
</section>