@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<h2>Chức năng chúng tôi cung cấp:</h2>
<div class="row">
    <div class="col-md-4">
        <h3>Đăng kí phòng trực tuyến</h3>
        <p>
            Bạn có thể nhanh chóng tạo cho mình những bản đăng kí phòng và hệ thống tự động
            thông báo kết quả đến tài khoản sau khi người quản trị xét duyệt. Ngoài ra bạn còn có thể xem lịch sử đẵ đăng kí.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Quản lí tài sản phòng</h3>
        <p>Bạn có thể xem tài sản phòng, xem số lượng từng loại tài sản.</p>
    </div>
    <div class="col-md-4">
        <h3>Quản lí tài khoản người dùng</h3>
        <p>Cho phép nhà quản trị hệ thống tạo tài khoản người dùng trên nền web và gán quyền tự động.</p>
    </div>
</div>