@{
    ViewBag.Title = "Đăng kí phòng bất cứ nơi đâu";
}
@section featured {
    <section class="featured">
        <div class="content-wrapper">
            <hgroup class="title">
                <h1>@ViewBag.Title</h1>
                <h2>@ViewBag.Message</h2>
            </hgroup>
            <p style="color:white;">
                Chúng tôi mong muốn đem đến cho bạn sự tiện dụng, nhanh chóng và chính xác 
                trong việc quản lí tài sản và đăng kí phòng trực tuyến. Với rOOm bạn có 
                thể nhanh chóng thực hiện việc đăng kí phòng ở bất kì nơi đâu có kết nối 
                internet. Hệ thống nhanh chóng phản hồi đến bạn kết quả.
            </p>
        </div>
    </section>
}
<h3>Chức năng chúng tôi cung cấp:</h3>
<ol class="round">
    <li class="one">
        <h5>Đăng kí phòng trực tuyến</h5>
        Bạn có thể nhanh chóng tạo cho mình những bản đăng kí phòng và hệ thống tự động 
        thông báo kết quả đến tài khoản sau khi người quản trị xét duyệt. Ngoài ra bạn còn có thể xem lịch sử đẵ đăng kí.
    </li>

    <li class="two">
        <h5>Quản lí tài sản phòng</h5>
        Bạn có thể xem tài sản phòng, xem số lượng từng loại tài sản.
    </li>

    <li class="three">
        <h5>Quản lí tài khoản người dùng</h5>
        Cho phép nhà quản trị hệ thống tạo tài khoản người dùng trên nền web và gán quyền tự động.
    </li>
</ol>
