@{
    ViewBag.Title = "Home Page";
}

<h1 class="id-feature" name="Home"></h1>
<div class="jumbotron">
    <h1>T4Room</h1>
    <p class="lead">T4Room là phần mềm đăng kí sử dụng phòng và quản lí phòng, tài sản phòng cũng như lịch đăng kí.</p>
    
    <p><a href="#" class="btn btn-primary btn-lg">Xem thêm &raquo;</a></p>
    <div class="panel panel-primary">
        <div class="panel-heading">T4Room - Phiên bản Web</div>
        <div class="panel-body">
            Phiên bản Web của T4Room cho phép người dùng Đăng kí/Đăng nhập, sau đó có thể sử dụng các chức năng sau đây:
            <ul>
                <li>Xem lịch sử dụng của một phòng nhất định theo tuần.</li>
                <li>Xem tài sản của phòng, cho phép lọc theo:
                    <ul>
                        <li>Loại phòng</li>
                        <li>Mã phòng</li>
                        <li>Loại tài sản</li>
                    </ul>
                </li>
                <li>
                    Xem lịch của phòng và Đăng kí sử dụng phòng.
                </li>
                <li>
                    Xem thông tin các phòng đã đăng kí.
                </li>
                <li>
                    Xem lịch sử đăng kí.
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="swiper-container" style="display:none">
    <div class="swiper-wrapper">
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
        <div class="swiper-slide">Slide 4</div>
        <div class="swiper-slide">Slide 5</div>
        <div class="swiper-slide">Slide 6</div>
        <div class="swiper-slide">Slide 7</div>
        <div class="swiper-slide">Slide 8</div>
        <div class="swiper-slide">Slide 9</div>
        <div class="swiper-slide">Slide 10</div>
    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination"></div>
    <!-- Add Arrows -->
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
</div>

<h2>Chức năng chúng tôi cung cấp:</h2>
<div class="row">
    <div class="col-md-4">
        <h3>Đăng kí phòng trực tuyến</h3>
        <p>
            Bạn có thể nhanh chóng tạo cho mình những bản đăng kí phòng và hệ thống tự động
            thông báo kết quả đến tài khoản sau khi người quản trị xét duyệt. Ngoài ra bạn còn có thể xem lịch sử đẵ đăng kí.
        </p>
    </div>
    <div class="col-md-4">
        <h3>Quản lí tài sản phòng</h3>
        <p>Bạn có thể xem tài sản phòng, xem số lượng từng loại tài sản.</p>
    </div>
    <div class="col-md-4">
        <h3>Quản lí tài khoản người dùng</h3>
        <p>Cho phép nhà quản trị hệ thống tạo tài khoản người dùng trên nền web và gán quyền tự động.</p>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
<script language="javascript" type="text/javascript">
    $(".jumbotron p a").on("click", function () {
        $("div.jumbotron div.panel").toggleClass("panel-active");
    })
</script>
}