<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="RoomDB" connectionString="data source=TIENTQ;initial catalog=room_mgr;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
  
  <!--
  <system.serviceModel>
    <services>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"
      multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  -->

  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceCredentials>
            <serviceCertificate findValue="NetTcpCA" 
                                storeLocation="LocalMachine"
                                storeName="My" 
                                x509FindType="FindBySubjectName" />
            <clientCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding>
          <security mode="Message">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding>
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <!-- Register of StaffService, StaffTypeService -->
      <service name="RoomM.WebService.StaffService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RoomM.WebService.IStaffService"/>
        <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IStaffService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:62978/StaffService" />
            <add baseAddress="net.tcp://localhost:8282/StaffService" />
          </baseAddresses>
        </host>
      </service>

      <service name="RoomM.WebService.StaffTypeService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RoomM.WebService.IStaffTypeService"/>
        <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IStaffTypeService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:62978/StaffTypeService"/>
            <add baseAddress="net.tcp://localhost:8282/StaffTypeService"/>
          </baseAddresses>
        </host>
      </service>

      <!-- Register of RoomService, RoomTypeService, RoomAssetService, RoomCalendarStatusService, RoomCalendarService -->
      <service name="RoomM.WebService.RoomService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RoomM.WebService.IRoomService" />
        <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IRoomService" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:62978/RoomService" />
            <add baseAddress="net.tcp://localhost:8282/RoomService" />
          </baseAddresses>
        </host>
      </service>

      <service name="RoomM.WebService.RoomAssetService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RoomM.WebService.IRoomAssetService" />
        <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IRoomAssetService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:62978/RoomAssetService" />
            <add baseAddress="net.tcp://localhost:8282/RoomAssetService" />
          </baseAddresses>
        </host>
      </service>

      <service name="RoomM.WebService.RoomTypeService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RoomM.WebService.IRoomTypeService" />
        <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IRoomTypeService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:62978/RoomTypeService" />
            <add baseAddress="net.tcp://localhost:8282/RoomTypeService" />
          </baseAddresses>
        </host>
      </service>
      
      <service name="RoomM.WebService.RoomCalenderService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RoomM.WebService.IRoomCalenderService" />
        <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IRoomCalenderService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:62978/RoomCalenderService" />
            <add baseAddress="net.tcp://localhost:8282/RoomCalenderService" />
          </baseAddresses>
        </host>
      </service>

      <service name="RoomM.WebService.RoomCalendarStatusService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RoomM.WebService.IRoomCalendarStatusService" />
        <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IRoomCalendarStatusService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:62978/RoomCalendarStatusService" />
            <add baseAddress="net.tcp://localhost:8282/RoomCalendarStatusService" />
          </baseAddresses>
        </host>
      </service>
      
      <!-- Register of AssetService, RoomAssetHistoryService, RoomAssetHistoryTypeService -->
      <service name="RoomM.WebService.AssetService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RoomM.WebService.IAssetService" />
        <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IAssetService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:62978/AssetService" />
            <add baseAddress="net.tcp://localhost:8282/AssetService" />
          </baseAddresses>
        </host>
      </service>
      
      <service name="RoomM.WebService.RoomAssetHistoryService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RoomM.WebService.IRoomAssetHistoryService" />
        <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IRoomAssetHistoryService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:62978/RoomAssetHistoryService" />
            <add baseAddress="net.tcp://localhost:8282/RoomAssetHistoryService" />
          </baseAddresses>
        </host>
      </service>

      <service name="RoomM.WebService.RoomAssetHistoryTypeService" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RoomM.WebService.IRoomAssetHistoryTypeService" />
        <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IRoomAssetHistoryTypeService"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:62978/RoomAssetHistoryTypeService" />
            <add baseAddress="net.tcp://localhost:8282/RoomAssetHistoryTypeService" />
          </baseAddresses>
        </host>
      </service>
    </services>

  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>