<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="RoomDB" connectionString="data source=TIENTQ;initial catalog=room_mgr;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="ServiceMEXBehavior">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true" />
          <serviceCredentials>
            <serviceCertificate findValue="NetTcpCA" 
                                storeLocation="LocalMachine"
                                storeName="My" 
                                x509FindType="FindBySubjectName" />
            <clientCertificate>
              <authentication certificateValidationMode="None" revocationMode="NoCheck" />
            </clientCertificate>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding>
          <security mode="Message">
            <message clientCredentialType="Certificate" />
          </security>
        </binding>
      </netTcpBinding>
      <basicHttpBinding>
        <binding>
          <security mode="Transport">
            <transport clientCredentialType="Certificate" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>

    <services>
      <service name="RoomM.WebService.AssetManagementWS" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RoomM.WebService.IAssetManagementWS"/>
        <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IAssetManagementWS"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:62978/AssetManagementWS" />
            <add baseAddress="net.tcp://localhost:8282/AssetManagementWS" />
          </baseAddresses>
        </host>
      </service>

      <service name="RoomM.WebService.RoomManagementWS" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RoomM.WebService.IRoomManagementWS"/>
        <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IRoomManagementWS"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:62978/RoomManagementWS"/>
            <add baseAddress="net.tcp://localhost:8282/RoomManagementWS"/>
          </baseAddresses>
        </host>
      </service>

      <service name="RoomM.WebService.UserManagementWS" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RoomM.WebService.IUserManagementWS" />
        <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IUserManagementWS" />
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:62978/UserManagementWS" />
            <add baseAddress="net.tcp://localhost:8282/UserManagementWS" />
          </baseAddresses>
        </host>
      </service>

      <service name="RoomM.WebService.StatisticWS" behaviorConfiguration="ServiceMEXBehavior">
        <endpoint address="" binding="basicHttpBinding" contract="RoomM.WebService.IStatisticWS" />
        <endpoint address="" binding="netTcpBinding" contract="RoomM.WebService.IStatisticWS"/>
        <endpoint address="mex" binding="mexHttpsBinding" contract="IMetadataExchange" />
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="https://localhost:62978/StatisticWS" />
            <add baseAddress="net.tcp://localhost:8282/StatisticWS" />
          </baseAddresses>
        </host>
      </service>
    </services>

  </system.serviceModel>
  
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true" />
  </system.webServer>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>